.header {
  max-width: 882px;
  display: flex;
  justify-content: space-between;
  margin: 45px auto 40px;
  padding: 0;
  border-bottom: 1px solid rgba(84,84,84,.7);
}



@media (max-width: 720px) {
  .header {
    margin: 28px auto 42px;
  }
}


